.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*--------- MODAL CSS ----------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 400px;
    padding: 2rem;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
}

.ModalHeader {
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
}

.labelForm {
    color: black;
    font-weight: bold;
}

.buttonForm {

    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
}

/*----------Logo home/groups--------------------------*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/*----------avatar--------------------------*/
.img {
    display: block;
    margin: 0 auto;
    max-height: 50px;
    min-width: 50px;
    height: auto;
    width: auto;
}

/*----------avatarContained--------------------------*/
.div {
    min-width: 100px;
}